{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="media">
        <img class="rounded-circle account-img" {%load static%} src="{{ user.profile.image.url }}">
        <div class="media-body">

				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						<h2 class="account-heading">{{ user.username }}</h2>
					</div>
					<div class="profile-usertitle-job">
						<p class="text-dark">{{ user.email }}</p>
					</div>
				</div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
