{% extends "blog/appbase.html" %}
{% block content %}
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container"> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar18">
        <span class="navbar-toggler-icon"></span>
      </button>
      <img src="Logo-Politechnika-Warszawska.png" alt="Girl in a jacket" style="width:200px;height:50px;" class="pl-3 pr-3">
      <div class="collapse navbar-collapse" id="navbar18"> <a class="navbar-brand d-none d-md-block" href="#">
          <b> Office Software</b>
        </a>
        <ul class="navbar-nav mx-auto ">
          <li class="nav-item"> <a class="nav-link  text-warning" href="#">Stwórz Nowy Wniosek</a> </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item" style=""> <a class="nav-link text-white" href="#">Log in</a> </li>
          <li class="nav-item"> <a class="nav-link text-white" href="#">Register</a> </li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock content %}